RestURL = "http://kava3.data.kava.io"         
CdpOwnerMnemonic = "number law genre purse lion indoor frown child bid age possible ozone surprise worth toward toward grow language shoulder dune parent tell crew cliff"
CdpDenom        = "bnb"
LowerTrigger    = "2.00"
UpperTrigger    = "2.50"
ChainID         = "kava-3"
